<div>
  <div>
    <h1>
      List of all connections
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new connection
    </h2>

    <form action="/insert_connection">
      <div>
        <label for="connection_name_box">
          Connection name
        </label>

        <input type="text" id="connection_name_box" name="query_connection_name">
    

      <div>
        <label for="comment_box">
          Comment
        </label>

        <input type="text" id="comment_box" name="query_comment">
      </div>

      <div>
        <label for="photo_box">
          Photo
        </label>

        <input type="text" id="photo_box" name="query_photo">
      </div>
      

      <div>
        <label for="current_company_box">
          Current company
        </label>

        <input type="text" id="current_company_box" name="query_current_company">
      </div>

      

      <button>
        Create connection
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        
        <th>
          Connection name
        </th>

        <th>
          Comment
        </th>

        <th>
          Photo
        </th>

        <th>
          Current company
        </th>

         <th>
          Connection of connections
        </th>
        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

     
      <tr>

       <td>
         Sean Johnson
        </td>
       
      

        <td>
         Met at NBMBAA in 2022
        </td>

        <td>
         <img src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg" width="35px" height=35px">
        </td>

        <td>
          Deloitte
        </td>
        <td>
          <a href="/connections_of_connections">View</a>
        </td>

        <td>
          10/1/22
        </td>
        <td>
         10/1/2022
        </td>
      </tr>
      
      <tr>

       <td>
         Nicholas Palmer
        </td>
      
        <td>
         Met at NSBE RTP IWD event in 2018
        </td>

        <td>
         <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/border-collie-sheltie-mix-royalty-free-image-186288095-1563379688.jpg?crop=0.99976xw:1xh;center,top&resize=480:*" width="35px" height=35px">
        </td>

        <td>
          Cisco
        </td>
        <td>
          <a href="/connections_of_connections">View</a>
        </td>
        <td>
          3/7/18
        </td>
        <td>
         4/11/2022
        </td>
      </tr>
      <tr>

       <td>
         Nicole Harris
        </td>
       
      

        <td>
         Met at Leadership Summit in 2023
        </td>

        <td>
         <img src="https://images.unsplash.com/photo-1586164383881-d01525b539d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z2luZ2VyJTIwY2F0fGVufDB8fDB8fA%3D%3D&w=1000&q=80" width="35px" height=35px">
        </td>

        <td>
          MBA Candidate at UMich Ross
        </td>
        <td>
          <a href="/connections_of_connections">View</a>
        </td>

        <td>
          2/11/23
        </td>
        <td>
         3/10/2023
        </td>

        
      </tr>
    </table>
  </div>
</div>

<hr>
