<div>
  <div>
    <h1>
      List of all comments
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new comment
    </h2>

    <form action="/insert_comment" method="post">
      <div>
        <label for="body_box">
          Body
        </label>

        <input type="text" id="body_box" name="query_body">
      </div>

      <div>
        <label for="commenter_id_box">
          Commenter
        </label>

        <input type="text" id="commenter_id_box" name="query_commenter_id">
      </div>

      <div>
        <label for="connection_id_box">
          Connection
        </label>

        <input type="text" id="connection_id_box" name="query_connection_id">
      </div>

      <button>
        Create comment
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Connection
        </th>
        <th>
          Body
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

      </tr>

      
      <tr>
        <td>
          1
        </td>

        <td>
          Sean Johnson
        </td>

        <td>
          Met at NBMBAA in 2022
        </td>

        <td>
          10/1/22
        </td>

        <td>
         10/1/22
        </td>
         </tr>

         <tr>
         <td>
          2
        </td>

        <td>
          Nicholas Palmer
        </td>

        <td>
          Met at NSBE RTP IWD event in 2018
        </td>

        <td>
          3/7/18
        </td>

        <td>
         4/11/22
        </td>
        </tr>

        <tr>
         <td>
          3
        </td>

        <td>
          Nicole Harris
        </td>

        <td>
          Met at Leadership Summit in 2023
        </td>

        <td>
          2/11/23
        </td>

        <td>
         3/10/23
        </td>
      </tr>
      
    </table>
  </div>
</div>

<hr>
