<div>
  <div>
    <h1>
      List of *insert connections name* Connections
    </h1>
  </div>
</div>


<div>
  <div>
    <table border="1">
      <tr>
       

        

        <th>
          Name
        </th>

        <th>
          Company
        </th>
        <th>
          Picture
        </th>
        <th>
        
          <a href="/connections">
            Back to my Connections 
          </a>
        
        </th>
      </tr>

     
      <tr>
       
        <td>
         Sam Smith
        </td>

        <td>
          Google
        </td>
        <td>
          <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGiOY5JFQEdg4dzse7yIakpItDF0WtE97uFA&usqp=CAU"width="35px" height=35px">
        </td>
      </tr>
     
    </table>
  </div>
</div>

<hr>
