<div>
  <div>
    <h1>
      My Profile
    </h1>
  </div>
</div>
<div>
    <table border="1">
<th>
          Photo
        </th>

        <th>
          Current company
        </th>

         <th>
          Connections
   

<tr>

  <td>
    <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9P7FiFeJyCDOxdmCG2qeOnjCeRzPYj3v8FA&usqp=CAU">
    </td>
    <td>
    MBA Candidate at Chicago Booth
    </td>
    <td>
    <a href ="/connections">Show</a>
    </td>
</table>
